<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Detail</title>
</head>
<body>
    <h1>Video Detail Page</h1>
    <video controls width="600" src="/static/video_detail/D:/Video/20231213/Download/11_20231213170328-20231213170415_2.mp4">
    Your browser does not support the video tag.
    </video>

<!--    {% if video_path %}-->
<!--        <video width="640" height="360" controls>-->
<!--            <source src="{{ url_for('static', filename=video_path) }}" type="video/mp4">-->
<!--            Your browser does not support the video tag.-->
<!--        </video>-->
<!--    {% else %}-->
<!--        <p>No video path provided.</p>-->
<!--    {% endif %}-->
</body>
</html>


