body{
    background-color: #FFFFFF;
}
.c1{
    color: #de6581;
}
.c2{
    height: 50px;
}
#city_style{
    color: #de6581;
}
li{
    color: #aa4455;
}
.country li{
    color: #FFA500;
}
input[type="text"]{
    border: 5px solid #ccc;
}
.v1[No="3"]{
    color: #00CC33;
}