<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>前端学习</title>
</head>
<body>
<div>山东蓝翔</div>
<div>挖掘机哪家强</div>
<a href="https://www.baidu.com" target="_blank">点击跳转</a>
<a href="/static">查看更多</a>
<h1>荣耀手表</h1>
<a href="https://www.hihonor.com/cn/shop/product/10086304561589.html" target="_blank">
    <img style="height: 180px" src="/static/images/honor1.png" alt="荣耀手表">
</a>
<a href="https://www.hihonor.com/cn/shop/product/10086992962160.html" target="_blank">
    <img style="height: 180px" src="/static/images/honor2.png" alt="荣耀手表">
</a>
<a href="https://www.hihonor.com/cn/shop/product/10086873203116.html" target="_blank">
    <img style="height: 180px" src="/static/images/honor3.png" alt="荣耀手表">
</a>
<ul>
    <li>北京</li>
    <li>河北</li>
    <li>山西</li>
</ul>
<ol>
    <li>北京</li>
    <li>河北</li>
    <li>山西</li>
</ol>
<h1>数据表格</h1>
<table border="1">
    <thead>
    	<tr>
            <th>ID</th>
            <th>样式</th>
            <th>名称</th>
            <th>更多信息</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>10</td>
            <td>
                <img style="height: 180px" src="/static/images/honor1.png" alt="荣耀手环7">
            </td>
            <td>荣耀手环7</td>
            <td>
                <a href="https://www.hihonor.com/cn/shop/product/10086304561589.html" target="_blank">更多信息</a>
            </td>
        </tr>

        <tr>
            <td>11</td>
            <td>
                <img style="height: 180px" src="/static/images/honor2.png" alt="荣耀手表 GS 3i">
            </td>
            <td>荣耀手表 GS 3i</td>
            <td>
                <a href="https://www.hihonor.com/cn/shop/product/10086992962160.html" target="_blank">更多信息</a>
            </td>
        </tr>

        <tr>
            <td>12</td>
            <td>
                <img style="height: 180px" src="/static/images/honor3.png" alt="荣耀手表 GS 3">
            </td>
            <td>荣耀手表 GS 3</td>
            <td>
                <a href="https://www.hihonor.com/cn/shop/product/10086873203116.html" target="_blank">更多信息</a>
            </td>
        </tr>
    </tbody>
</table>
<h1>输入信息</h1>
<label>
    <input type="text">
</label>
<label>
    <input type="password">
</label>

<input type="file">

<!-- 单选框 -->
<label>
    <input type="radio" name="n1">北京
</label>
<label>
    <input type="radio" name="n1">上海
</label>
<label>
    <input type="radio" name="n1">深圳
</label>

<!-- 复选框 -->
<label>
    <input type="checkbox" name="n2">沈阳
</label>
<label>
    <input type="checkbox" name="n2">黑龙江
</label>
<label>
    <input type="checkbox" name="n2">大连
</label>
<label>
    <input type="checkbox" name="n2">吉林
</label>
<label>
    <input type="checkbox" name="n2">鹤岗
</label>

<!-- 普通按钮 -->
<input type="button" value="提交">

<!-- 提交表单 -->
<input type="submit" value="提交">

<div>
    <label>一线城市
        <select name="" id="">
            <option>北京</option>
            <option>上海</option>
            <option>深圳</option>
        </select>
    </label>
</div>
<textarea name="" id="" cols="30" rows="10"></textarea>
</body>
</html>


